*~
*.FCStd1
*.a
*.armv7l
*.*bak*
*.hex
*.hode.i
*.hode.s
*.lis
*.log
*.map
*.net
*.o
*.pcb
*.pdf
*.png
*.rep
*.stl
*.tgz
*.x86_64
.nfs*
baseshunt
classes
driver/km/*.ko
driver/km/*.mod.c
driver/km/*.o
driver/km/.*
driver/km/Module.symvers
driver/km/enabtsc.mod
driver/km/modules.order
gerber*
iowarrior/*
jacl141
jaclBinary141.zip
kicad
raspictl.readcounts
!goodpcbs/*.net
!goodpcbs/*.pcb
!goodpcbs/*.png
!goodpcbs/*.rep
!iowarrior/makefile
!kicads/IOW56Paddle/IOW56Paddle.kicad_pcb
!kicads/IOW56Paddle/IOW56Paddle.pro
!kicads/IOW56Paddle/IOW56Paddle.sch
